.lists {
  width: 335px;
 max-height: 340px;
  overflow-y: scroll;
  margin: 0 auto;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: yellow;
  }

  &::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: black;
  }
}

.list {
  color: white;
  width: 300px;
  background-color: black;
  margin: 0 auto;
  border-radius: 5px;

  p {
    padding: 10px;
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    input {
      background-color: transparent;
      border: 0;
      color: white;
      font-size: 16px;
      &:focus {
        outline: none;
      }
    }

    .delete {
      cursor: pointer;
      font-size: 20px;
    }
  }
}
